<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="parentTableName" value="gym"/>
        <add key="childTableName" value="climber"/>
        <add key="parentTablePK" value="id"/>
        <add key="childTableFK" value="gym_id"/>
        <add key="foreignKeyName" value="FK_climber_gym_id"/>

        <!-- <add key="parentTableName" value="crag"/> -->
        <!-- <add key="childTableName" value="climbingRoute"/> -->
        <!-- <add key="parentTablePK" value="id"/> -->
        <!-- <add key="childTableFK" value="crag_id"/> -->
        <!-- <add key="foreignKeyName" value="FK__climbingR__crag___4316F928"/> -->
    </appSettings>
</configuration>