# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Programming\UBB\Year3\Sem2\SSVV\Lab1\LabAssiAsseProjectV01\LabAssiAsseProjectV01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
