# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programming\UBB\SecondYear\Sem1\ComputerNetworks\Lab1\.idea/dataSources/
/dataSources.local.xml
