# Default ignored files
/shelf/
/workspace.xml
/tasks.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programming\UBB\SecondYear\Sem1\MAP\ToyLanguageInterpreter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
